<div class="container">
  <form>
    <div class="form-group">
      <label for="mameInput">Name</label>
      <input require type="text" class="form-control" required id="mameInput" placeholder="Enter name" #name>
    </div>
    <div class="form-group">
      <label for="emailInput">Email address</label>
      <input require type="email" class="form-control" required id="emailInput" placeholder="Enter email" #phone>
    </div>
    <div class="form-group">
      <label for="phoneInput">Phone</label>
      <input type="tel" required class="form-control" id="phoneInput" placeholder="Enter phone number" #email>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">quastions</label>
      <input require type="text" class="form-control" id="quastionsInput" placeholder="Enter quastion" #message>

    </div>
    <input type="submit" value="Submit" class="btn btn-primary" (click)="onAdd(name,phone,email,message)">
  </form>
</div>
<!-- <form class="form-horizontal" [formGroup]="form">

  <div class="form-group">
    <div class="col-sm-12">
      <label for="email" class="control-label">Email</label>
      <input type="text" id="email" class="form-control" formControlName="email">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-12">
      <label for="password" class="control-label">Password</label>
      <input type="password" id="password" class="form-control" formControlName="password">
    </div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="!form.valid">
    Submit
  </button>

</form> -->
<!-- <div class="container">
  <h1>Hero Form</h1>
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required>
    </div>

    <div class="form-group">
      <label for="alterEgo">Alter Ego</label>
      <input type="text" class="form-control" id="alterEgo">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>

  </form>
</div> -->